{% extends 'base.html' %}


{% block content %}

<div id="container-participate">
    <h1>Participez à l'association</h1>
    <p class="tagline">Merci de remplir le formulaire ci-dessous, et nous vous contacterons dans les plus bref délais <i class="fa fa-smile-o" aria-hidden="true"></i>.</p>

    <div class="row">
        <form class="col s12" method="post">
            {% csrf_token %}
           <div class="row">
               <div class="input-field col s12 m6">
                   {{ form.last_name }}
                   <label for="{{ form.last_name.label }}">Nom de famille</label>
               </div>
               <div class="input-field col s12 m6">
                   {{ form.first_name }}
                   <label for="{{ form.first_name.label }}">Prénom</label>
               </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{ form.birthdate }}
                    <label for="{{ form.birthdate.label }}">Né(e) le</label>
                </div>
                <div class="input-field col s12 m6">
                    {{ form.email }}
                    <label for="{{ form.email.label }}" data-error="Email non valide" data-success="Email valide">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.address }}
                    <label for="{{ form.address.label }}">Adresse</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{ form.city }}
                    <label for="{{ form.city.label }}">Ville</label>
                </div>
                <div class="input-field col s12 m6">
                    {{ form.postal_code }}
                    <label for="{{ form.postal_code.label }}">Code postal</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.phone }}
                    <label for="{{ form.phone.label }}">Téléphone - Optionnel</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Valider le formulaire
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>

{% endblock content %}
